.youget{
    font-family: $montserrat;
    text-align: center;
    background-color: #f4f4f4;
    position: relative;
}
.IDE{
    display: inline-block;
    width: 105%;
    height: 381px;
    overflow: hidden;
    margin-top: 57px;
    &__img{
        height: 100%;
    }
}

.section-title{
    color: #8d81ac;
    font-size: 32px;
    font-weight: 800;
    padding-top: 34px;
    line-height: 38px;
    
    &::before{
        content: "<";
    }

    &::after{
        content: ">";
    }
}
.offer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-family: $lato;

    &__firstimg{
        padding-left: 15px;
    }
    &__img{
        margin: auto;
        display: block;
    }
}
.text{
    display: flex;
    flex-direction: column;

    &__title{
        font-family: $montserrat;
        color:#323232;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        padding-top: 29px;
    }
    &__discription{
        font-family: $lato;
        color:#848e97;
        font-size: 15px;
        width: 100%;
        line-height: 21px;
        padding-top: 21px;
    }
}

@media (min-width : 401px) and (max-width:480px){
    .offer{
        padding-top: 25px;
        flex-direction: row;
        &__firstimg{
            padding-left: 0px;
        }
        &__img{
            margin: auto auto auto 0;
        }
    }
    .section-title{
        font-size: 42px;
    }
    .text{
        width: 70%;
        &__title{
            text-align: left;
        }
        &__discription{
            text-align: left;
        }
    }

    .IDE{
        height: 519px;
        margin-top: 37px;
    }
}

@media (min-width : 481px) and (max-width:992px){
    .section-title{
        font-size: 42px;
    }
    .offer{
        flex-direction: row;
        justify-content: space-around;
        &__firstimg{
            padding: 0;
            width: 100px;
        }
        &__img{
            margin: 35px 0 auto 0;
        }
    }
    .text{
        width: 75%;
        &__title{
            text-align: left;
            width: 90%;
        }
        &__discription{
            text-align: left;
            width: 100%;
        }
    }
    .IDE{
        height: 100%;
    }
}

@media (min-width : 993px){
    .section-title{
        font-size: 46px;
        position: absolute;
        left: 50%;
        top: 4%;
        font-weight: 700;
    }
    .offer{
        padding-top: 0;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
        padding-bottom: 2%;
        &__firstimg{
            padding: 0;
            width: 100px;
        }
        &__img{
            margin: 35px 0 auto 0;
        }
        &--1200{
            padding-top: 30px;
        }
    }
    .text{
        width: 77%;
        &__title{

            text-align: left;
        }
        &__discription{
            text-align: left;
            width: 100%;
        }
    }
    .IDE{
        height: 505px;
        width: 54%;
        position: absolute;
        left: 46%;
        top: 16%;
    }

}